
<div class="modal-overlay" id="modalOverlay">
  <div class="modall">
    <h1 style="color: black; font-size: 40px;">Actualizar usuario</h1>
    <form action="">
      <input type="text" placeholder="Nombres" required>
      <input type="text" placeholder="Apellidos" required>
      <input type="text" placeholder="Ciudad" required>
      <input type="date" placeholder="Fecha" required>
      <input type="email" placeholder="Correo" required>
      <input type="number" placeholder="Telefono" required>
      <input type="text" placeholder="Ocupacion" required>

      <div class="botones">
        <!-- <button class="btn btn-cancelar" (click)="cerrarModal(">Cancelar</button> -->
        <button class="btn" >Actualizar</button>

      </div>
    </form>
  </div>
</div>



