
<div class="modal-overlay" id="modalOverlay">
  <div class="modall">
    <h1 style="color: black; font-size: 40px;">Actualizar usuario</h1>
        <p style="font-size: 15px; width: 90%; text-align: start; margin-top: 2%;">Los campos con * son obligatorios</p>

    <form action="">

      <input type="text" placeholder="Nombres *" name="nombresUsuario" [(ngModel)]="nombresUsuario">
      <input type="text" placeholder="Apellidos *" name="apellidosUsuario" [(ngModel)]="apellidosUsuario">
      <select type="text" name="ciudad" placeholder="Ciudad *" [(ngModel)]="idCiudadFKUsuario">
        <option *ngFor="let ciudad of ciudades" [value]="ciudad.idCiudad">{{ ciudad.nombreCiudad }}</option>
      </select>

      <input type="date" placeholder="Fecha *" name="fechaNacimientoUsuario" [(ngModel)]="fechaNacimientoUsuario">
      <input type="email" placeholder="Correo *" name="emailUsuario" [(ngModel)]="emailUsuario">
      <input type="number" placeholder="Telefono *" name="telefonoUsuario" [(ngModel)]="telefonoUsuario">
      <select type="text"  name="ocupacion" placeholder="Ocupacion *" [(ngModel)]="idOcupacionFKUsuario">
        <option *ngFor="let ocupacion of ocupaciones" [value]="ocupacion.idOcupacion" >{{ ocupacion.ocupacion }}</option>
    </select>

    </form>
    <div class="botones">
      <button class="btn btn-cancelar" (click)="cerrarModal()">Cancelar</button>
      <p *ngIf="errorCampo" style="font-size: 15px; color: red; ">{{errorCampo}}</p>
      <button class="btn" (click)="actualizar()">Actualizar</button>

    </div>
  </div>
</div>



