<button type="button" class="registrar" (click)="abrirModalRegistrar()" >Registrar</button>



<div class="modal-overlay" id="modalOverlay" *ngIf="modal==true">
  <div class="modall">
    <h1 style="color: black; font-size: 40px; margin-top: 2%;">Registrar usuario</h1>
    <p style="font-size: 15px; width: 90%; text-align: start; margin-top: 2%;">Los campos con * son obligatorios</p>
    <form action="">
      <input type="number" placeholder="Numero de documento *" name="numeroDocumentoUsuario" [(ngModel)]="numeroDocumentoUsuario">
      <input type="text" placeholder="Nombres *" name="nombresUsuario" [(ngModel)]="nombresUsuario">
      <input type="text" placeholder="Apellidos *" name="apellidosUsuario" [(ngModel)]="apellidosUsuario">
      <input type="text" name="ciudad" placeholder="Ciudad *" [(ngModel)]="idCiudadFKUsuario" list="listaCiudades">

      <datalist id="listaCiudades">
        <option *ngFor="let ciudad of ciudades" [value]="ciudad.idCiudad">{{ ciudad.nombreCiudad}}</option>
      </datalist>
      <input type="date" placeholder="Fecha *" name="fechaNacimientoUsuario" [(ngModel)]="fechaNacimientoUsuario">
      <input type="email" placeholder="Correo *" name="emailUsuario" [(ngModel)]="emailUsuario">
      <input type="number" placeholder="Telefono *" name="telefonoUsuario" [(ngModel)]="telefonoUsuario">
      <input type="text"  name="ocupacion" placeholder="Ocupacion *" [(ngModel)]="idOcupacionFKUsuario" list="listaOcupaciones">

        <datalist id="listaOcupaciones">
          <option *ngFor="let ocupacion of ocupaciones" [value]="ocupacion.idOcupacion" >{{ ocupacion.ocupacion }}</option>
        </datalist>


      <div class="botones">
        <button class="btn btn-cancelar" (click)="cerrarModal()">Cancelar</button>
        <p *ngIf="errorCampo" style="font-size: 15px; color: red; ">{{errorCampo}}</p>
        <button class="btn" (click)="registrar()" >Registrar</button>

      </div>
    </form>
  </div>
</div>

